header {
    height: auto;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
    
}


.imgLogo {
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: black;
}

.imgLogo img {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width:600px; /* o el tamaño que tú quieras */
    height: auto; /* mantiene proporción */
   
}

.imgLogo img:hover {
   
    box-shadow: 0 0 15px #d4ff00, 0 0 30px #ff8000;
    animation: vibrar 0.8s linear infinite;
}

  /* Animación de vibración */
@keyframes vibrar {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    25% { transform: translate(-50%, -50%) rotate(1deg); }
    50% { transform: translate(-50%, -50%) rotate(-1deg); }
    75% { transform: translate(-50%, -50%) rotate(1deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
  }