* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(25, 27, 36);
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

